<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052574845894-r3e1q2dq76jh3a21r8qfvkt3je0srdu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052574845894-r3e1q2dq76jh3a21r8qfvkt3je0srdu5</string>
	<key>API_KEY</key>
	<string>AIzaSyAaRnTrtliLWnzPF6EkjhZLquAH4WppA0c</string>
	<key>GCM_SENDER_ID</key>
	<string>1052574845894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tec.bda</string>
	<key>PROJECT_ID</key>
	<string>foodbankios-14b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbankios-14b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052574845894:ios:0d9c98a271a01fe76b40c7</string>
	<key>DATABASE_URL</key>
	<string>https://foodbankios-14b7e-default-rtdb.firebaseio.com</string>
</dict>
</plist>